/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
.idea
.bash_history
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/mysql
client_secret_484604532660-fks64tkcfiaj75jns1le5qndust3abbp.apps.googleusercontent.com.json
token.json
